html {box-sizing: border-box;}

*, *:before *:after {box-sizing: inherit;}


body{
margin: 0;
font-weight: 400;
font-family: sans-serif;
font-size: 20px;
line-height: 33px;
background-color: #1f1f1f;
}

.container {
display: grid;
grid-template-columns: 5vw 1fr 5vw;
}

.button {
height: 100%;
background-color: transparent;
border: 0;
}

/*NAVIGATIE*/

.nav-container {
position: absolute;
z-index: 1;
display: grid;
grid-template-columns: 5vw 1fr 5vw;
width: 100%;
}

.navbar {
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 2.5rem 0;
grid-column-start: 2;

}

.nav-container-left {
display: flex;
flex-direction: row;
}

.header-links {
display: flex;
flex-direction: row;
list-style: none;
}


nav a {
 color: white;
 font-size: 1.5rem;
 text-decoration: none; 
}

.nav-list-left:hover, .nav-list-right:hover{
border-bottom: 4px solid #ff6d00;
}

.nav-list-left {
margin-right: 3rem;
padding: 35px 0 25px;
}

.nav-list-right {
margin-left: 3rem;
padding: 35px 0 25px;
}

/*HERO SECTION*/
.hero-container {
display: grid;
grid-template-columns: 5vw 1fr 5vw;
height: 38rem;

}

.hero-container::after {
content: "";
position: absolute;
height: 100%;
width: 100%;
background: linear-gradient(to right, rgba(0,0,0,1) 12%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0.28) 60%, rgba(0,0,0,1) 92%);
z-index: -1;
}

.hero {
display: flex;
align-items: center;
position: relative;
grid-column-start: 2;
}


.hero-image {
position: absolute;
height: auto;
width: 100%;
object-fit: cover;
top: 0; right: 0; bottom: 0; left: 0;
z-index: -1;
}

.hero-title {
color: white;
font-size: 3.5rem;
text-shadow: 5px 5px 13px rgba(0,0,0,.5);   
margin: 3.5rem 0 1rem 0; 
padding: 1.5rem 0;
}

.hero-subtitle {
color: white;
max-width: 60%;
margin: 0 0 1rem;
}

.hero-btn {
background-color: #ff6d00;
height: 3rem;
padding: 0 1rem;
border-radius: 4px;
border: 0;
font-family: sans-serif;
font-size: 20px;
font-weight: 400;
color: white;

}

.hero-btn-text {
padding-right: 3rem;
}

.hero-btn-text::after {
content: "";
background-image: url(https://www.npostart.nl/images/asset_player_play.svg) no-repeat 50%;
background-color: rgba(0, 0, 0, 0);
}


.content-section{
display: grid;
grid-template-columns: 5vw 1fr 5vw;
background-color: #1f1f1f;
}

.content-container{
    grid-column-start: 2;
}

.content-title {
font-weight: 400;
font-size: 1.6rem;
color: white;
margin: 40px 0 30px;
}

.content-row {
 display: flex;
 flex-direction: row;
 height: 16rem;
 width: 100%;
 overflow-x: auto;
}

.content-row-card {
position: relative;
width: 20rem;
height: 100%;
margin-right: 5px;
}

.card-image {

max-width: 100%;

}

.content-row-title {
position: relative;
    padding-bottom: 7px;
width: 100%;
font-size: 1.1rem;
color: white;
bottom: 0;
text-shadow: 0 2px 4px rgba(0,0,0,.6);
margin: 0;

}

.content-row-img {
    
    max-width: 100%;
    object-fit: cover;
    height: auto;

}

.content-grid{
    display: grid;
    max-width: 90rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 12rem 12rem;
    grid-gap: 5px;
}
.content-card {
position: relative;
}


.content-card:nth-child(1){
    grid-column: span 2;
    grid-row: span 2;
}

.content-card-img {
    max-width: 100%;
    object-fit: cover;
     position: absolute; 
   
}

.content-card-hero-title {
    padding-bottom: 7px;
    width: 100%;
font-size: 1.7rem;
position: absolute;
z-index: 3;
color: white;
text-align: center;
bottom: 0;
text-shadow: 0 2px 4px rgba(0,0,0,.6);
margin: 0;
vertical-align: bottom;
}

.content-card-title {
padding-bottom: 7px;
    width: 100%;
font-size: 1.1rem;
position: absolute;
z-index: 3;
color: white;
text-align: center;
bottom: 0;
text-shadow: 0 2px 4px rgba(0,0,0,.6);
margin: 0;
vertical-align: bottom;
}


/*FOOTER*/


.footer-container {
display: grid;
grid-template-columns: 5vw 1fr 5vw;
margin-top: 7rem;
}

.footer-links-top{
grid-column-start: 2;
display: flex;
flex-direction: row; 
justify-content: space-between;   
max-width: 95%;
}

.footer-links-bottom {
grid-column-start: 2;
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 50px 0 40px;

}

.footer-links-bottom-list {
display: flex;
flex-direction: row;
list-style: none;   
margin: 0;
padding: 0;
}

.footer-links {
text-decoration: none;
padding: 0 1rem 0 0;     
color: #999;
font-size: 1rem;
font-weight: 400;

}

.link-group{
    margin-right: 1rem;
}
.link-group-title {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}


.link-group>ul {    
    list-style: none;
    padding: 0;
    line-height: 130%;
}

.link-list-1 {    
    columns: 3;
    column-gap: 7vw;
}

.link-list-3 {    
    columns: 2;
    column-gap: 7vw;
}



/* voor de content row: container met een width van 100%. Daar op een overflow-x met auto op de container - Zie pathe site van Thomas om te spieken*/